<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="signin()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="Username" placeholder="Username" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('Username')?.dirty && validateForm.get('Username')?.errors"
        >Please input your username!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="Passwrd" placeholder="Password" />
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('Passwrd')?.dirty && validateForm.get('Passwrd')?.errors"
        >Please input your Password!</nz-form-explain
      >
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>Remember me</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
      <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>